	/*Main monoPlayer (outer div) class*/
	.monoPlayer {
		border-radius: 5px;
		text-align: left;
		padding: 3px;
		width: 280px;
		color: #efefef;
		
		/*Fallback for linear-gradient*/
		background-color: #424242;
		
		background: linear-gradient(top, #2F2727, #424242); /* Standard syntax */
		background: -webkit-linear-gradient(top, #2F2727, #424242); /* For Safari 5.1 to 6.0 */
		background: -moz-linear-gradient(top, #2F2727, #424242); /* For Firefox 3.6 to 15 */
		background: -ms-linear-gradient(top, #2F2727, #424242); /* For IE 10 */
		background: -o-linear-gradient(top, #2F2727, #424242); /* For Opera 11.1 to 12.0 */
	}
	
	/*Basic button properties*/
	.btn {
		background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
		outline: none;
        cursor: pointer;
        overflow: hidden;
		color: #efefef;
	}
	
	.audioTime {
		float: right;
		margin: 2px 2px 0 0;
	}

	/*Required if using MfgLabs-Icons*/
	.icon-mute_on {
		margin-left: -0.125em;
	}
	
	/*Optional Drop/Box Shadow Effects*/
	.shadowFx1 {
		box-shadow: 0 10px 6px -6px #777;
  		-webkit-box-shadow: 0 10px 6px -6px #777;
       	   -moz-box-shadow: 0 10px 6px -6px #777;
	}
	
	.shadowFx2
	{
  		position:relative;
    	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       	   -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	}
	
	.shadowFx3
	{
  		position:relative;
    	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       	   -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	}